.btn {

  background-color: #86BC25;
}
.card{
  background-color: #3B71CA;
}
.inputSize {
  width: 50%;
  display: inline;

}

@media (max-width: 400px) {
  .inputSize {
  width: 100%;
  display: inline;

}
}
