<nav
  class="container navbar navbar-expand-lg navbar-dark bg-primary mb-2 col-10"
>
  <a class="navbar-brand" href="#">
    <img
      src="../assets/images/FIDA.png"
      width="130"
      height="50"
      class=""
      alt="Fida Todo list"
    />
  </a>
  <div class="navbar-nav col-md-6 col-sm-12">
    <a
      class="nav-item nav-link text"
      routerLink="/add"
      routerLinkActive="activeRoute"
      >ADD</a
    >
    <a
      class="nav-item nav-link text"
      routerLink="/list"
      routerLinkActive="activeRoute"
      >LIST</a
    >
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
